###############################################################################
## develop
###############################################################################
-
  branches:
    only:
      - develop
  image: Visual Studio 2017
  version: 1.0.3-develop
  before_build:
    - ps: |
        cd source
        dotnet restore
  build_script:
    - ps: |
        cd source
        dotnet build --configuration Debug --verbosity minimal
  test_script:
    - ps: |
        cd source\fnxs.facts
        dotnet test

###############################################################################
## master
###############################################################################
-
  branches:
    only:
      - master
  image: Visual Studio 2017
  version: 1.0.2
  environment:
    nuget_key:
      secure: Vqel/mTUrZ0esE9c4XdL35dOIpr+nRVtHBsv4mcRf+DgpPIgRsK6bdJneZsVvI/s
  before_build:
    - ps: |
        cd source
        dotnet restore
  build_script:
    - ps: |
        cd source
        dotnet build --configuration Release --verbosity minimal
  test_script:
    - ps: |
        cd source\fnxs.facts
        dotnet test
  after_test:
    - ps: |
        cd source\fnxs
        dotnet pack --configuration Release
        cd ..\..
        7z a fnxs-netcore.zip .\source\fnxs\bin\Release\*
        nuget setApiKey $env:nuget_key
        nuget push .\source\fnxs\bin\Release\fnxs.FunctionalExtensions.$env:APPVEYOR_BUILD_VERSION.nupkg -Source https://www.nuget.org/api/v2/package
  artifacts:
  - path: fnxs-netcore.zip
    name: fnxs-netcore